@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeSpeed;
  color: black;
  overflow-y: overlay;
}

.navbar-link {
  @apply text-xl text-black font-black relative;
}

.navbar-link:hover {
  @apply !text-orange-400;
}

@layer components {
  @media screen and (min-width: 767px) {
    .navbar-link::after {
      content: '';
      position: absolute;
      left: 0;
      top: 1.75rem;
      bottom: 0;
      width: 0;
      height: 0.375rem;
      background-color: theme('colors.orange.400');
      transition: all 0.3s;
    }

    .navbar-link:hover::after {
      width: 100%;
    }
  }
}